version: "1.1"

services:
  app:
    build:
      context: .
    image: studify-app
    container_name: studify-app
    ports:
      - "3000:3000"
    environment:
      NODE_ENV: development
    env_file:
      - .env
    command: npm run dev
    volumes:
      - .:/app
      - /app/node_modules
